@inherits LayoutComponentBase

<PageTitle>Housing</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-6">
            @Body
        </article>
        <Footer />
    </main>
    
</div>
